<h3 class="title">Kittens</h3>

<div class="list">
    <%=display_all_kittens(@kittens)%>
</div>
<div>
   <form>
    <input type="text" placeholder="Enter flickr user id here..." name="user_id"/>
    <input type="submit" value="See photos"/>
   </form>
</div>
